<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sensors2osc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:exported="true"
            android:name=".activities.StartUpActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartUpActivity" />
        </activity>
        <activity
            android:name=".activities.GuideActivity"
            android:label="@string/action_guide">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartUpActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/action_about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartUpActivity" />
        </activity>

        <service
            android:name=".dispatch.SensorService"
            android:exported="false"
            android:icon="@drawable/sensors2osc" />

    </application>
</manifest>